

.autoJugador{
    background-image: url("../Imagenes/sport-car.png") ;
    background-size: 70px 43px;
    width: 70px;
    height: 43px;
    position: absolute;
    bottom: 0;
    transition: all 1s ease;
    animation: animarJugador 8s linear infinite;
}
@keyframes animarJugador {
  

    0% {
        left: 45%;
        
      }
      5%{
        transform: translateX(0px);
      }
      30% {
        transform: translateX(90px);
      }
      35%{
        transform: translateX(90px)
      }
      80% {
        transform: translateX(-90px); 
      }
      100% {
        left: 45%;
      }
}
.auto{
    background-image: url("../Imagenes/sport-car.png") ;
    background-size: 70px 43px;
    width: 70px;
    height: 43px;
    position: absolute;
    bottom: 280px;
    transition: all 1s ease;
    animation: animarAuto 8s linear infinite;
}
@keyframes animarAuto {
   
    0% {
        left: 45.5%;
        transform: scale(0.01);
        
      }
      50%{
        left: 35%;
        transform: translateY(350px) scale(1.25);
      }
      100% {
        left: 20%;
        transform: translateY(700px);
      }
}
.auto2{
background-image: url("../Imagenes/sport-car.png") ;
background-size: 70px 43px;
width: 70px;
height: 43px;
position: absolute;
bottom: 280px;
transition: all 1s ease;
animation: animarAuto2 8s linear infinite;
animation-delay: 4s;
opacity: 0;
}
@keyframes animarAuto2 {
   
  0% {
    left: 45.2%;
    transform: scale(0.01);
    opacity: 1;
  }
  50%{
    left: 60%;
    transform: translateY(350px) scale(1.25);
    
  }
  100% {
    left: 70%;
    transform: translateY(700px);
    opacity: 1;
  }
}
.classDerecha{
  float:right;
}
.classIzquierda{
  float:left;
  grid-row: auto;
  
}
/* Cuando uso descendente tengo que sacar el comun denominador del resto */


