#jugador{
    background-image: url("../Imagenes/sport-car.png") ;
    background-size: 70px 43px;
    width: 70px;
    height: 43px;
    position: absolute;
    bottom: 0;
    /* Centro el auto */
    left: 50%;
    transform: translateX(-50%);

}
#Puntuacion{
    color: white;
}
/* Genero puntos para la pared */
.pared{
    width: 3px;
    height: 3px;
    background-color: red;
    position: absolute;
}
.izquierda{
    bottom: 0;
    left: 26%;
}
.derecha{
    bottom: 0;
    left: 74%;
}
/* flex de los botones juego*/
.autoEnemigo1{
    background-image: url(../Imagenes/sport-car-png.webp);
    background-size: 70px 43px;
    width: 70px;
    height: 43px;
    position: absolute;
}
