body{
    text-align: center;
    background-color: #ECF0F1;
    padding-top: 20px;
}

.boton{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
        color: #FFF;
        background: #7F8C8D; 
        padding:160px 320px;
        white-space: nowrap;
        -webkit-border-radius: 5px;
        -moz-border-radius:5px;
        border-radius: 100px;
        margin: 10px 5px;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}
.azul{
    background: #3498db;
    box-shadow: 4px 4px 4px 4px #2980b9;
              /*Top Bottom Right Left */
}
.azul:hover{
  background: #3daaf3;
}
.verde{
  background: #13d43a;
  box-shadow: 4px 4px 4px 4px #0ca42a;
}
.verde:hover{
  background: #1aea44;
}
.rojo{
  background: #ee0a0a;
  box-shadow: 4px 4px 4px 4px #c00808;
}
.rojo:hover{
  
}
p{
  color:red;
  background-color: aqua;
  
}
h1{
  color: blue;
  font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif ;
}

 